{% extends "base.html" %}
{% block content %}
{% if alreadyVoted %}
<div class="well">
    <h1>You have already voted!</h1>
    <div class="container">
        <p>In first place was:  {{firstPlace}}</p>
        <p>In second place was: {{secondPlace}}</p>
        <p>In third place was:  {{thirdPlace}}</p>
    </div>
</div>
{% else %}


<form method = "get">
    {% if inputError %}
        <div class="alert alert-info" role="alert">
            <strong>Remember to vote correctly!</strong> <a href="{{  url_for('logout')  }}" class="alert-link">If you're feeling frustrated here's the exit</a>.<br>
            Remember you must choose at least one value for each dropdown box, and these values must be unique (no duplicate values in multiple boxes)
        </div>
    {% endif %}

    <div class="hero-unit">
        <h1>Hi, {{ current_user.username }}!</h1>
        <p>This is the main page for Students</p>
    </div>

    {% for user in filenames %}
    <div class="well">
        <br>
        <h1>{{user.username}}'s Menu:</h1>
        <div class="well">
            {% include user.filePath %}
        </div>
        <br>
    </div>
    {% endfor %}


    <Label>Choose first place menu: </Label>

    <div class="form-group">
    <select name="firstMenu" id="firstMenu">
        <option disabled selected value> -- select a menu -- </option>
        {% for filename in filenames %}
            <option value="{{ filename.username }}">{{ filename.username }}</option>
        {% endfor %}
    </select>
    </div>

    <br><br>



    <Label>Choose second place menu: </Label>
    <div class="form-group">
    <select name="secondMenu" id="secondMenu">
        <option disabled selected value> -- select a menu -- </option>
        {% for filename in filenames %}
            <option value="{{ filename.username }}">{{ filename.username }}</option>
        {% endfor %}
    </select>
    </div>


    <br><br>
    <Label>Choose third place menu: </Label>
    <div class="form-group">
    <select name="thirdMenu" id="thirdMenu">
        <option disabled selected value> -- select a menu -- </option>
        {% for filename in filenames %}
            <option value="{{ filename.username }}">{{ filename.username }}</option>
        {% endfor %}
    </select>
    </div>

        <button id="submit_button" type="submit" class="btn btn-default" onclick="myfunction()">Go</button>

</form>

    <script type="text/javascript">
    function myfunction()
    {
        var menuOne = document.getElementById('firstMenu').value;
        var menuTwo = document.getElementById('secondMenu').value;
        var menuThree = document.getElementById('thirdMenu').value;
        if (menuOne == menuTwo || menuOne == menuThree || menuTwo == menuThree || !(menuOne) || !(menuTwo) || !(menuThree)) {
            document.getElementById("submit_button").addEventListener("click", function(event){event.preventDefault() });
            alert("The vote did not go through! Please make sure you are inputting unique values in each box");
            return false;
        }
        return true;
    }
    </script>
{% endif %}
{% endblock %}

