{% extends "base.html" %}
{% block content %}
<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
<h1>CSV Users Upload</h1>
<br>
<div class="alert alert-warning" role="alert" style="align-content: center; width=100px;">
  Upload the CSV file containing the students/teachers here
</div>

<br>

    <div class="alert alert-danger" role="alert">
        WARNING: Uploading a CSV will write over current User database
    </div>

<br>

<nav class="navbar navbar-light bg-light">
<form method=post enctype=multipart/form-data>
    <label class="btn btn-default">
    <input type=file name=file>
    </label>
    <label class="btn btn-default">
        <input type=submit value=Upload>
    </label>
</form>
</nav>
</div>

{% for user in users%}
    <span>[{{ user }}]</span>
{% endfor %}

{% endblock %}